@import "../../../styles.scss";

.container {
    color: $light-gray;
    min-height: 92dvh;
    @extend .justify-center;
    flex-direction: column;

    .exam-breakdown {
        width: 100%;
        height: 46dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        ul li {
            margin: .5rem 0;
        }

        * {
            margin-left: 10rem;
        }
    }

    .quiz-selection {
        width: 100%;
        height: 46dvh;
        background-color: $dark-gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        .sub-container {
            margin-right: 10rem;

            h2 {
                padding-left: .5rem;
            }

            .list-item {
                padding: .5rem;
            }

            .button-container {
                margin-top: 1rem;

                a {
                    cursor: pointer;
                    color: $light-gray;
                    text-decoration: none;
                    background-color: $green;
                    padding: .5rem;
                    border-radius: 5px;
                    font-size: 1.5rem;
                }
            }
        }

    }

    .resources {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-top: 2rem;
        min-height: 30dvh;
        width: 100%;

        h2 {
            margin: .5rem 10rem;
        }

        ul {
            margin: 0 10rem;
        }

        li {
            margin: .5rem 0;
        }

        a {
            color: $light-gray;
        }
    }

}