@import "../../../styles.scss";

.container {
    @extend .justify-center;
    flex-direction: column;
    color: $light-gray;

    .question-container {
        margin-top: 3rem;
        line-height: 2.5rem;

        .button-container {
            margin-top: 1rem;
            text-align: right;
        }
    }

}