@import 'material-icons/iconfont/material-icons.css';

$dark-blue: #232D3F;
$dark-green: #005B41;
$green: #008170;

$light-gray: #f8f9fa;
$gray: #6c757d;
$dark-gray: #495057;
$dark: #0F0F0F;

body {
    margin: 0;
    background-color: $dark;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: .2rem;
    bottom: .25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.6rem);
    -ms-transform: translateX(1.6rem);
    transform: translateX(1.6rem);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}